<h1 class="my-5 text-center">Welcome back to Gossip</h1>
<%= form_with url: sessions_path, class: "registration-form", method: :post do |form| %>
  <%= form.text_field :pseudo, class: "form-control", placeholder: "Enter your pseudo" %>
  <%= form.password_field :password, class: "form-control", placeholder: "Enter your password" %>
  <div id="register-btn-container">
    <%= form.submit "Login", class: "btn btn-primary w-50 my-3" %>
  </div>
<% end %>
<p class="text-center">Not register yet ? <a href="/register">Sign up</a></p>
<% flash.each do |type, msg| %>
  <div class ="text-center">
    <%= msg %>
  </div>
<% end %>