<article class="card mx-4 my-3 p-3"> 
    <b>Id : <%= @gossip.id %></b>
    <p><%= @gossip.content %></p>
    <% if @gossip.user_id == session[:user_id] %>
        <%= link_to "Edit", edit_gossip_path(@gossip.id), class: "btn btn-primary w-25" %>
        <%= button_to "Delete", @gossip, class: "btn btn-danger", :method => :delete %>
    <% end %>
    <%= link_to "Going back to gossips", gossips_path, class: "btn btn-primary w-25" %>
</article>
<% @gossip.comments.each do |comment| %> 
    <article class="card ms-5 me-4 my-3 p-3">
        <b><%= comment.user.pseudo %></b>
        <p><%= comment.content %></p>
    </article>
<% end %> 