<article class="card mx-4 my-3 p-3"> 
    <b>Id : <%= @gossip.id %></b>
    <p><%= @gossip.content %></p>
    <% if @gossip.user_id == session[:user_id] %>
        <a href="edit/<%= @gossip.id%>" class= "btn btn-primary w-25">Edit</a>
        <%= form_with url: "/gossip/#{@gossip.id}", method: :delete do |form| %>
            <div>
                <%= form.submit "Delete", class: "btn btn-danger" %>
            </div>
        <% end %>
    <% end %>
    <a href="/gossips" class= "btn btn-primary w-25">Going back to gossips</a>
</article>
<% @gossip.comments.each do |comment| %> 
    <article class="card ms-5 me-4 my-3 p-3"> <%= comment.content %></article>
<% end %> 